@model HomeIndexViewModel
@{
    ViewData["Title"] = "Public Chat";
    var userName = User.Identity?.Name;
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="container">
    <div class="row">
        <!-- Chat window -->
        <section class="col-md-8 chat-window">
            <h1>Public chat</h1>
            <div id="chat">
                @if (Model.Messages != null)
                {
                    @foreach (var message in Model.Messages.OrderBy(m => m.When))
                    {
                        if (message.UserName == userName)
                        {
                            <div class="chat-container">
                                <div class="sender">
                                    <span><strong>@message.UserName</strong> - @message.When.ToString()</span>
                                    <p>@message.Text</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="chat-container">
                                <div class="receiver">
                                    <span><strong>@message.UserName</strong> - @message.When.ToString()</span>
                                    <p>@message.Text</p>
                                </div>
                            </div>
                        }
                    }
                }
            </div>

            <div class="under-chat-container">
                <div class="profile-picture">
                    <img src="@Model.ProfilePicture" alt="Profile Picture" />
                </div>
                <form asp-controller="Home" asp-action="Create" data-ajax-begin="clearInputField" data-ajax-complete="" id="message-form"
                      data-ajax-failure="alert('fail')" data-ajax-success="sendMessage" data-ajax="true" data-ajax-method="POST">
                    <div asp-validation-summary="ModelOnly"></div>
                    <textarea id="messageText" name="Text"></textarea>
                    <input type="submit" value="Send" id="submitButton" class="btn btn-primary" />
                    <input type="hidden" value="@userName" name="username" />
                </form>
            </div>
        </section>

        <!-- Contacts -->
        <aside class="col-md-4 text-center">
            <h2>Contacts</h2>
            <section class="col-md-12">
                <ul class="list-group">
                    @foreach (var user in Model.Contacts.Where(u => u.UserName != userName).OrderBy(u => u.UserName))
                    {
                        <li class="list-group-item">
                            <div class="profile-picture">
                                <img src="@user.ProfilePicture" alt="Profile Picture" />
                            </div>
                            @user.UserName
                        </li>
                    }
                </ul>
            </section>
        </aside>
    </div>
</div>

<!-- Modal structure for notification overlay -->
<div class="modal fade" id="notification-modal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
                <button type="button" id="button-modal" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body text-center">
                <p>Activate web-push notifications if you want to be notified when someone sends you a message.</p>
                <p>You don't need to stay logged in on this site to receive these notifications; they will be sent directly to your browser.</p>
                <div class="d-flex justify-content-center">
                    <button id="subscribe-button" class="btn btn-primary btn-lg mb-3 me-3">Activate Notifications</button>
                    <button id="no-thanks" class="btn btn-secondary btn-lg mb-3" data-bs-dismiss="modal">No thanks</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Declaring JavaScript global variables -->
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@User.Identity.Name";
    </script>
}

<script>
    var publicKey = '@ViewBag.PublicKey';
    var userId = "@Model.UserId";
</script>  

@section scripts{
        <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>
        <script src="~/js/chat.js"></script>
        <script src="~/js/signrReqHandler.js"></script>
        <script type="module" src="~/js/index.js"></script>
}



