@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>What is Push Notification?</h1>
<hr />
<h3>A push notification is a message or alert sent from a server to a device (like a smartphone, tablet, or desktop) to deliver real-time updates or notifications, even when the app or website isn't open.</h3>
    <img src="https://qodeinteractive.com/magazine/wp-content/uploads/2021/03/What-Are-Push-Notifications.jpg" alt="notification" style="max-width:100%; height:auto; " /> <br />
<h3>Push notifications "push" information to users in a way that is direct and engaging, often prompting them to take an action, like opening an app, checking a message, or responding to an alert.</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <section>

            <h2 id="toggle-form" style="cursor: pointer;">Would you like to test our web app?</h2>
            <div id="form-container" style="display:none;">
            <form id="account" method="post">
                <hr />
                <h3>Please log in if you want test it out.</h3>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
            </div>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3></h3>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Our app shows how notifiction works with the help of a public chat.
                            You can chat all you want!
                            
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("toggle-form").addEventListener("click", function() {
            var formContainer = document.getElementById("form-container");
            // Toggle the form visibility
            if (formContainer.style.display === "none") {
                formContainer.style.display = "block";
            } else {
                formContainer.style.display = "none";
            }
        });
    </script>
}
